# This file defines code ownership for the repository
# The owner(s) listed here will be automatically requested for review
# when someone opens a pull request that modifies the files they own.

* @plebann
